@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #030303;
    color: #e5e5e5;
    font-feature-settings: "cv11", "ss01";
    -webkit-font-smoothing: antialiased;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #030303;
}

::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #404040;
}

.text-balance {
  text-wrap: balance;
}

.bg-grid-pattern {
  background-size: 60px 60px;
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
}
